<!DOCTYPE html>
<html lang="{{ lang | default(value="en-US" ) }}">
<head>
  {%- if config.webserver_sends_csp_headers %}
  {%- include "security_tags.html" ignore missing %}
  {%- endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "favicon.html" ignore missing -%}
  <title>{%- block title %}{{ config.title }}{%- endblock %}</title>
  {% include "seo_tags.html" ignore missing -%}
  <meta name="referrer" content="strict-origin-when-cross-origin">
  {%- if config.generate_feeds %}
  {% block rss -%}
  {%- for feed_filename in config.feed_filenames %}
  <link rel="alternate" type={% if feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }}" href="{{ get_url(path=feed_filename) | safe }}">
  {%- endfor -%}
  {%- endblock -%}
  {%- endif %}
  <style>
  {% include "style.css.html" ignore missing %}
  </style>
  {%- include "custom_head.html" ignore missing %}
</head>
<body>
  {% include "header.html" ignore missing %}
  {%- block main -%}{%- endblock -%}
  {%- include "footer.html" ignore missing -%}
  {%- include "custom_body.html" ignore missing -%}
</body>
</html>
