{%- set current_lang = config.default_language %}
{%- if page %}
  {%- set current_lang = page.lang %}
{%- elif section %}
  {%- set current_lang = section.lang %}
{%- endif %}
{%- if config.extra.main_menu %}
  {%- for item in config.extra.main_menu %}
    {%- if current_lang == config.default_language %}
      {%- set title = item.name %}
    {%- else %}
      {%- set language_key = 'name_' ~ current_lang %}
      {%- set title = item[language_key] %}
    {%- endif %}
    {%- if item.url is matching("https?://") %}
      <a href="{{ item.url }}">{{ title }}</a>
    {%- else %}
      <a href="{{ get_url(path=item.url, lang=lang )}}">{{ title }}</a>
    {%- endif %}
  {%- endfor %}
{%- endif -%}
