{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock %}

{% block main %}
  {%- if not page.extra.menu -%}
    <h1>{{ page.title }}</h1>
    {%- if page.date %}
      <p>
        <i>
          <time datetime="{{ page.date | date(format='%+') }}" pubdate>
            {{- page.date | date(format=config.extra.date_format) -}}
          </time>
        </i>
      </p>
    {%- endif %}
  {%- endif %}
  {%- if config.extra.table_of_contents.show and not page.extra.hide_table_of_contents and page.toc %}
    <details {% if config.extra.table_of_contents.visible_on_load %}open{% endif %}>
      <summary>{{ trans(key="table_of_contents", lang=lang) }}</summary>
      {{- macros::table_of_contents(toc=page.toc, max_level=config.extra.table_of_contents.max_level) | indent() | safe() }}
    </details>
  {%- endif %}
  <main>
    {{ page.content | safe }}
  </main>
  <p>
    {%- if page.taxonomies %}
      {%- for name, taxon in page.taxonomies %}
        {{ name | capitalize }}:
        {%- for item in taxon %}
          <a href="{{ get_taxonomy_url(kind=name, name=item, lang=lang) }}">#{{ item }}</a>
        {%- endfor %}
      {%- endfor %}
    {%- endif %}
  </p>
{% endblock %}
