<link rel="stylesheet" href="{{ get_url(path="fonts/fontawesome/css/all.min.css", trailing_slash=false) }}">
<footer>
  {%- if not config.extra.hide_made_with_line %}
    {{ trans(key="made_with", lang=lang) }} <a href="https://codeberg.org/alanpearce/zola-bearblog">Zola ʕ•ᴥ•ʔ Bear</a>
  {%- endif %}
  {%- if config.extra.social.github %}
    <a href="{{ config.extra.social.github }}", target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  {%- endif %}
  {%- if config.extra.social.matrix%}
    <strong>
      <!-- This is the Matrix icon as an inline SVG -->
      <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
        <a href="{{ config.extra.social.matrix}}", target="_blank">
          <path
              fill="currentColor"
              d="
                M .632 .55 v 22.9 H 2.28 V 24 H 0 V 0 h 2.28 v .55
                zm
                7.043 7.26 v 1.157 h .033
                  c .309 -.443 .683 -.784 1.117 -1.024
                  .433 -.245 .936 -.365 1.5 -.365
                  .54 0 1.033 .107 1.481 .314
                  .448 .208 .785 .582 1.02 1.108
                  .254 -.374 .6 -.706 1.034 -.992
                  .434 -.287 .95 -.43 1.546 -.43
                  .453 0 .872 .056 1.26 .167
                  .388 .11 .716 .286 .993 .53
                  .276 .245 .489 .559 .646 .951
                  .152 .392 .23 .863 .23 1.417
                  v 5.728 h -2.349 V 11.52
                  c 0 -.286 -.01 -.559 -.032 -.812
                  a 1.755 1.755 0 0 0 -.18 -.66
                  1.106 1.106 0 0 0 -.438 -.448
                  c -.194 -.11 -.457 -.166 -.785 -.166
                  -.332 0 -.6 .064 -.803 .189
                  a 1.38 1.38 0 0 0 -.48 .499
                  1.946 1.946 0 0 0 -.231 .696
                  5.56 5.56 0 0 0 -.06 .785
                  v 4.768 h -2.35 v -4.8
                  c 0 -.254 -.004 -.503 -.018 -.752
                  a 2.074 2.074 0 0 0 -.143 -.688
                  1.052 1.052 0 0 0 -.415 -.503
                  c -.194 -.125 -.476 -.19 -.854 -.19
                  -.111 0 -.259 .024 -.439 .074
                  -.18 .051 -.36 .143 -.53 .282
                  -.171 .138 -.319 .337 -.439 .595
                  -.12 .259 -.18 .6 -.18 1.02
                  v 4.966 H 5.46 V 7.81
                zm
                15.693 15.64 V .55 H 21.72 V 0 H 24 v 24 h -2.28 v -.55
                z"
          />
        </a>
      </svg>
    </strong>
  {%- endif %}
  {%- if config.extra.social.bluesky %}
    <a href="{{ config.extra.social.bluesky }}", target="_blank">
      <i class="fa-brands fa-bluesky"></i>
    </a>
  {%- endif %}
  {%- if config.extra.social.mastodon%}
    <a href="{{ config.extra.social.mastodon}}", target="_blank">
      <i class="fa-brands fa-mastodon"></i>
    </a>
  {%- endif %}
  {%- if config.generate_feeds %}
    <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}" target="_blank">
      <i class="fa-solid fa-rss"></i>
    </a>
  {%- endif %}

</footer>
